.App {
  text-align: center;
}

.App-logo {
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-button {
  margin-top: 10px;
  background-color: #61dafb;
  border: none;
  color: black;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  cursor: pointer;
}

.App-button:hover {
  background-color: #0c7896;
  color: white;
}

.App-footer {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(2000deg);
  }
}

.navbar {
  background-color: #282c34;
}

.navbar-menu {
  background-color: #282c34;
}

.navbar-item {
  color: white;
}

.navbar-item:hover {
  background-color: #444;
}

.navbar-burger {
  color: white;
}

.navbar-burger:hover {
  background-color: #444;
}

.navbar-burger span {
  background-color: white;
}

.navbar-burger span:hover {
  background-color: #444;
} 

label {
  display: block;
  margin-bottom: 0.5em;
  color: white;
}

input {
  display: block;
  width: 100%;
  padding: 0.5em;
  font-size: 1em;
  margin-bottom: 0.5em;
  border: 1px solid #444;
}

button[type=submit] {
  display: block;
  width: 100%;
  padding: 0.5em;
  font-size: 1em;
  background-color: #444;
  color: white;
  border: none;
  cursor: pointer;
}

button[type=submit]:hover {
  background-color: #555;
}
